.subtag {
  border: 1px solid #999999;
  padding-left: 1em;
  padding-right: 1em;
  /* padding: 3px; */
  color: white;
  margin-left: 14px;
  width: 100px;
  background-color: #999999;
  border-radius: 4px;
}

.resetlink {
  color: rgb(52, 143, 226);
  cursor: pointer;
  margin-top: 2.4em;
  font-size: 17px;
}
