.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-text {
  vertical-align: middle;
}

.react-autosuggest__container{
  /* background-color:gray; */
  /* position: absolute; */
  position: relative;
  z-index: 4;
  /* margin-top: 30px; */

} 
.react-autosuggest__input{

}
.react-autosuggest__suggestions-container{
  background-color:lightgray;
  margin-top:7%;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  /* text-decoration: none; */
  /* width:600px; */
  /* width: auto; */
  /* border:1px solid red; */
}
.react-autosuggest__suggestions-container ul{
  background-color:lightgray;
  margin-top:7%;
  list-style-type:none;
  /* height:20px; */
  padding:0px;
  margin:0px;
  
  /* text-decoration: none; */
  /* width:600px; */
  /* width: auto; */
  /* border:1px solid red; */
}
.react-autosuggest__suggestions-container li{
  background-color:#f3f3f3;
  margin-top:7%;
  list-style-type:none;
  /* height:20px; */
  padding:10px;
  margin:0px;
  
  /* text-decoration: none; */
  /* width:600px; */
  /* width: auto; */
  /* border:1px solid red; */
}
.react-autosuggest__suggestions-container li:hover{
  background-color:#629C44;
  
  /* text-decoration: none; */
  /* width:600px; */
  /* width: auto; */
  /* border:1px solid red; */
}
/* .react-autosuggest__container--open{
  background-color:gray;
  position: absolute;
  z-index: 4;
  margin-top: 30px;
  padding-top:50px;

} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.svg-inline--fa { /* target all FA icons */
  padding-right: 10px;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
